@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: auto;
  height: auto;
}

:root {
  color: white;
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.current-weather {
  height: calc(100dvh - 56px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-stat {
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 1);
}

.bg-clear {
  background-image: url("images/clear.jpg");
}
.bg-clouds-few {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0.2),
      rgba(36, 36, 36, 0)
    ),
    url("images/clouds-few.jpg");
}
.bg-clouds-scattered {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0.5),
      rgba(36, 36, 36, 0.2)
    ),
    url("images/clouds-scattered.jpg");
}
.bg-clouds-broken {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0),
      rgba(36, 36, 36, 0.4)
    ),
    url("images/clouds-broken.jpg");
}
.bg-clouds-overcast {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0),
      rgba(36, 36, 36, 0.2)
    ),
    url("images/clouds-overcast.jpg");
}
.bg-mist {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0),
      rgba(36, 36, 36, 0.8)
    ),
    url("images/mist.jpg");
}
.bg-haze {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0),
      rgba(36, 36, 36, 0.3)
    ),
    url("images/haze.jpg");
}
.bg-rain {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0),
      rgba(36, 36, 36, 0.8)
    ),
    url("images/rain.jpg");
}
.bg-sand {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0),
      rgba(36, 36, 36, 0.3)
    ),
    url("images/sand.jpg");
}
.bg-smoke {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0.3),
      rgba(36, 36, 36, 0.5)
    ),
    url("images/smoke.jpg");
}
.bg-snow {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0.3),
      rgba(36, 36, 36, 0.9)
    ),
    url("images/snow.jpg");
}
.bg-thunderstorm {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0),
      rgba(36, 36, 36, 0.7)
    ),
    url("images/thunderstorm.jpg");
}
.bg-tornado {
  background-image: linear-gradient(
      to right bottom,
      rgba(36, 36, 36, 0.3),
      rgba(36, 36, 36, 0.8)
    ),
    url("images/tornado.jpg");
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* *********************************************************  MAPBOX */

.map-container {
  height: calc(100dvh - 56px);
}

.sidebar {
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-top-right,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  z-index: 0 !important;
}

.mapboxgl-ctrl-bottom-left {
  position: absolute;
  left: 10px;
  top: 5px;
}

/* ***************************************************************  CUSTOM MARKERS EXPERIMENT */

.custom-marker-container {
  position: relative;
  width: 120px;
  height: 150px;
  bottom: 92px;
}

.custom-marker {
  position: relative;
  width: 120px;
  height: 150px;
  background: rgba(59, 130, 246, 0.8);
  background: rgba(17, 24, 39, 0.8);
  border-radius: 50% / 10%;
}
.custom-marker:before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
  background: rgba(17, 24, 39, 0.8);
}

.custom-marker:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid rgba(37, 99, 235, 0.8);
  border-top: 25px solid rgba(17, 24, 39, 0.8);
}

.custom-marker-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 120px;
  height: 160px;
  font-size: 0.85rem;
  letter-spacing: 0.02rem;
}
